{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<form action="/movies" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="form-group">
        <label for="director">Director</label>
        <input type="text" class="form-control" name="director" id="director">
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" class="form-control" name="rating" id="rating">
    </div>
    <br>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>
{% endblock %}
